.u-section-1 {
  background-image: url("images/10901810-0.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1390px;
}

.u-section-1 .u-text-1 {
  width: 816px;
  margin: 76px auto 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 759px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 719px;
  width: 1041px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 759px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 719px;
  width: 1045px;
  margin: 0 auto;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 740px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 719px;
  width: 1041px;
  margin: 1px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -222px;
    margin-left: 377px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 218px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    height: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 880px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 880px;
    margin-bottom: -20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 289px;
    width: 720px;
  }

  .u-section-1 .u-accordion-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 660px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 217px;
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 520px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -127px;
    margin-left: 137px;
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 225px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 320px;
  }
}