.u-section-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
  margin: 265px 310px 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
  padding: 12px 65px 13px 63px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 680px;
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .embed-responsive-1 {
    width: 263%;
    left: -82%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .embed-responsive-1 {
    width: 418%;
    left: -159%;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/yt-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 571px;
  margin: 168px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-block-bc48-49 {
  background-image: none;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  border-style: double;
}

.u-section-2 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-5 {
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-6 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-table-cell-7 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-table-cell-8 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-block-bc48-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/9de7273d1be0d1db0e52f336b3d621c041dd5308d8bacb909a3afb0a79a7568c3612c51d99bad924d3362acea002c833232b8ae4697e41f3e80b23_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1287px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 310px;
  margin: 88px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 807px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto auto;
  grid-gap: 10px 10px;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-7 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-11 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-13 {
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 110px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-3 .u-text-1 {
    width: 206px;
    margin-top: 437px;
  }

  .u-section-3 .u-list-1 {
    min-height: 665px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -1025px;
    margin-right: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1146px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
  }

  .u-section-3 .u-btn-2 {
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: -65px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 130px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: -830px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }
}